<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/LayoutForo.css" asp-append-version="true" />
    <title>@ViewData["Tittle"] - El SabeloTodo</title>
</head>
<body>
    @{
        int? idusuario = Context.Session.GetInt32("id");
        string? nombreusuario = Context.Session.GetString("nombre");
    }

    <div class="header">
        <div class="title">
            <h1>El SabeloTodo</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar" class="form-control">
        </div>
        <div class="user-menu" onclick="toggleUserMenu(event)">
         
            <i id="userIcon" class="fa fa-user-circle"></i>
          
            <div id="userMenu" class="user-menu-content">
                <ul>
                    @if(idusuario.HasValue){
                        <li><a href="#">Hola @nombreusuario</a></li>
                        <li><a href="@Url.Action("MostrarUsuario","Usuario",new{id = idusuario.Value})">Mi Perfil</a></li>
                        <li><a href="@Url.Action("Logout","Usuario")">Cerrar sesión</a></li>
                    }
                    else{
                        <li><a href="@Url.Action("Login","Usuario")">Iniciar Sesión</a></li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>

    <!-- Contenedor Principal -->
    <div id="carrerasContainer" class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-md-3 col-3 sidebar">
                
                
                @if(ViewBag.Carrerausuario != null){
                    <h2 class="sidebar-title">Mi Carrera</h2>
                    <div class="carrera-container">
                        <h2 class="carrera" data-carrera-id="@ViewBag.Carrerausuario.Id" onclick="toggleSubMenu(this)">
                            @ViewBag.Carrerausuario.Nombre
                        </h2>
                        <ul class="subcategories hidden" data-carrera-id="@ViewBag.Carrerausuario.Id">
                        </ul>
                    </div>
                }
                else{
                    <h2 class="sidebar-title">Carreras</h2>
                    @foreach (var carrera in ViewBag.Carreras)
                    {
                        <div class="carrera-container">
                            <h2 class="carrera" data-carrera-id="@carrera.Id" onclick="toggleSubMenu(this)">
                                @carrera.Nombre
                            </h2>
                            <ul class="subcategories hidden" data-carrera-id="@carrera.Id">
                            </ul>
                        </div>
                    }
                }
                    
                

            </div>

            <!-- Contenedor Principal -->
            <div class="col-md-9 col-9 container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>

    <script defer>
        var usuarioid = @((idusuario.HasValue) ? idusuario.Value : "null");

        function toggleSubMenu(carreraElement) {
            console.log("Se hizo clic en Toggle Submenu");
            var subcategoriesContainer = $(carreraElement).next('.subcategories');

            $('.subcategories').not(subcategoriesContainer).addClass('hidden');

            if (subcategoriesContainer.hasClass('hidden')) {
                var carreraId = $(carreraElement).data('carrera-id');
                loadAndToggleSubcategories(carreraElement, carreraId, usuarioid);
            } else {
                subcategoriesContainer.addClass('hidden');
            }
        }
        function loadAndToggleSubcategories(carreraElement, carreraId, isUserCarrera) {
            var subcategoriesContainer = $(carreraElement).next('.subcategories');
            var url = '@Url.Action("ObtenerCategorias", "Categoria")' + '?idcarrera=' + carreraId + (isUserCarrera ? '&idusuario=' + isUserCarrera : '');

            if (!subcategoriesContainer.data('loaded')) {
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log('Data recibida:', data);

                        // Filtra las categorías que no son nulas
                        var filteredData = data.filter(function (subcategoria) {
                            return subcategoria !== null;
                        });

                        if (filteredData.length > 0) {
                            subcategoriesContainer.empty();

                            $.each(filteredData, function (index, categoria) {
                                // Crea un enlace <a> con el texto de la subcategoría y los estilos
                                var link = $('<a>').text(categoria.nombre);
                                // Establece el atributo href (puedes ajustar esto según tus necesidades)
                                link.attr('href', '#' + categoria.id);
                                // Agrega el enlace al contenedor
                                subcategoriesContainer.append(link);
                                subcategoriesContainer.find('a').addClass('subcategoria-link');
                            });
                            
                            subcategoriesContainer.data('loaded', true);
                            subcategoriesContainer.removeClass('hidden');
                        } else {
                            console.log('No se encontraron categorías.');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching data:', error);
                        console.log('Status:', status);
                        console.log('Response Text:', xhr.responseText);
                    }
                });
            } else {
                subcategoriesContainer.removeClass('hidden');
            }
        }

        function toggleUserMenu(event) {
            var userMenu = document.getElementById('userMenu');
            userMenu.style.display = (userMenu.style.display === 'block') ? 'none' : 'block';
            event.stopPropagation();
        }

        document.body.addEventListener('click', function () {
            var userMenu = document.getElementById('userMenu');
            userMenu.style.display = 'none';
        });
    </script>

</body>
</html>
